.container {
  padding: 40px;
}
code {
  font-family: monospace;
  font-size: inherit;
  background: #101010;
  word-wrap: break-word;
  color: rgb(255, 255, 255);
  box-decoration-break: clone;
  padding: 0rem 0.3rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
}
