<h1>Grid</h1>
<p>Para posicionar elementos en cuadricula, filas y columnas</p>

<hr />
<div class="container simple">
  <div>Item 1</div>
  <div>Item 2</div>
  <div>Item 3</div>
  <div>Item 4</div>
</div>
<hr />
<p>Flexible</p>
<div class="container flexible">
  <div>Item 1</div>
  <div>Item 2</div>
  <div>Item 3</div>
  <div>Item 4</div>
  <div>Item 5</div>
  <div>Item 6</div>
  <div>Item 7</div>
</div>
<hr />
<p>auto-row auto-col</p>
<div class="container auto">
  <div>Item 1</div>
  <div>Item 2</div>
  <div>
    Item 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    est laborum.
  </div>
  <div>Item 4</div>
</div>
<hr />
<p>Responsive, las que quepan en el contenedor</p>
<div class="container responsive">
  <div>Item 1</div>
  <div>Item 2</div>
  <div>Item 3</div>
  <div>Item 4</div>
  <div>Item 5</div>
  <div>Item 6</div>
  <div>Item 7</div>
</div>
<hr />
<p>Posicionamiento de elementos</p>
<div class="container elements">
  <div class="item1">Item 1</div>
  <div class="item2">Item 2</div>
  <div class="item3">Item 3</div>
  <div class="item4">Item 4</div>
  <div class="item5">Item 5</div>
</div>
