<h1>Sass</h1>

<h2>Variables Con Sass</h2>
<div><h2>Variables Con CSS</h2></div>
<p>Se puede crear el tema muy facil :)</p>

<div [class]="className">
  <button (click)="change()">Click me <3</button>
</div>
<hr />
<h2>Anidación</h2>
<div class="container">
  <div class="container__inside">
    <div class="container__inside--item">Soy el Item :)</div>
    <p>Y yo soy un parrafo</p>
  </div>
</div>
<hr />
<h2>Modularizacion o Imports y Mixins</h2>
<div [class]="className">
  <nav>
    <a>Link 1</a>
    <a>Link 2</a>
    <a>Link 3</a>
    <a>Link 4</a>
  </nav>
</div>
<hr />
<h2>Mixins con parametros</h2>
<h3 class="pequeño">Texto pequeño</h3>
<h3 class="mediano">Texto mediano</h3>
<h3 class="grande">Texto grande</h3>
<hr />
<h2>Extend</h2>
<div class="caja1">Caja 1</div>
<div class="caja2">Caja 2</div>
<div class="caja3">Caja 3</div>
